/* #nav {
    color:rgb(221, 27, 27);
    text-align:right;
  }

  .container{
    background-image: url(./images/front1.png);
    background-size: cover;
  }
*/
  .sliderimg{
    width: 100%;
    height: 500px;
    object-fit: cover
  } 